[submodule "qaf"]
	path = qaf
	url = https://github.com/qmetry/qaf.git
[submodule "qaf-cucumber"]
	path = qaf-cucumber
	url = https://github.com/qmetry/qaf-cucumber.git
[submodule "qaf-support-openapi"]
	path = qaf-support-openapi
	url = https://github.com/qmetry/qaf-support-openapi.git
[submodule "qaf-support"]
	path = qaf-support
	url = https://github.com/qmetry/qaf-support.git
[submodule "qaf-support-ws"]
	path = qaf-support-ws
	url = https://github.com/qmetry/qaf-support-ws.git
[submodule "qaf-support-elasticsearch"]
	path = qaf-support-elasticsearch
	url = https://github.com/qmetry/qaf-support-elasticsearch.git
[submodule "qaf-support-flutter"]
	path = qaf-support-flutter
	url = https://github.com/qmetry/qaf-support-flutter.git
[submodule "qaf-support-angular"]
	path = qaf-support-angular
	url = https://github.com/qmetry/qaf-support-angular.git
[submodule "qaf-support-galen"]
	path = qaf-support-galen
	url = https://github.com/qmetry/qaf-support-galen.git
[submodule "qaf-support-mobile"]
	path = qaf-support-mobile
	url = https://github.com/qmetry/qaf-support-mobile.git
[submodule "qaf-support-aem"]
	path = qaf-support-aem
	url = https://github.com/qmetry/qaf-support-aem.git
